* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    background-color:rgb(216, 190, 240);
}

h1 {
    padding-top: 100px;
    text-align: center;
}



table, th, td {
  border:1px solid black;
  margin: auto;
  width: 50%;
  text-align: center;
}

#statistics {
    display: none;
}

#login {
    display: block;
    text-align: center;
    background-color: white;
    margin: 20% 30% 20% 30%;
    padding: 3rem;
    border-radius: 20px;
}

#bar-graph-div{
    display: block;
    text-align: center;
    background-color: white;
    margin: 20% 30% 20% 30%;
    padding: 3rem;
    border-radius: 20px;
}

#bar-graph-1{
    display: block;
    text-align: center;
    background-color: white;
    margin: 5% 30% 5% 30% ;
    padding: 3rem;
    border-radius: 20px;
}

#username, #password{
    margin-bottom: 20px;
}

.btn{
    background-color: rgb(158, 202, 93);
    padding: 0.5rem 2rem;
    text-align: center;
    color: black;
}

.btn:hover{
    background-color: white;
    color: black;
}

#logout {
    display: none;
}

#logoutButton{
    float: right;
    margin: 10px 10px 0 0;
}