* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    background-color:rgb(216, 190, 240);
}

.container h1{
    font-size: 4.5rem;
    color: white;
    margin-bottom: 5rem;
    text-align: center;
}

.container{
    background-size: 100%;
    height: 50%;
    /* Full height */
    height: 50%;
    /* Center and scale the image nicely */
    background: url("tECHNOLOGY COMPANY.png") no-repeat center;
    background-size: 100%;
    zoom: 100%;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
}


.btn{
    font: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    text-decoration: none;
    color: black;
    background: white;
    border-radius: 4px;
    font-weight: bold;
    border: 2px solid black;
}

#AdminBTN{
    background-color: rgb(50, 173, 211);
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(70, 70, 70);
    background-color: rgb(179, 117, 236);
}

.draggable {
    font-style:italic;

    background-color:rgb(191, 252, 185);
    margin:10px;
    padding:3px;
}

#Fill-in-the-blank,#multiple-choice,#Matching-type,#Submission,#score{
    display:none;
}

#div1,#div2,#div3,#div4,#div5,#div6,#div7,#div8,#div9,#div10,#div11 {
    display:inline-block;
    min-width:100px;
    min-height:10px;
    border-style:solid;
    border-width:0px;
    border-bottom-width:2px;
}
.banner{
    color: black;
    font-size: 3rem;
    background-color: rgb(255, 255, 255);
    padding: 1ch;
    margin: 10px 10% 20px 10%;
    border-radius: 20px;
    border-top: 10px solid blueviolet;
}
#Matching-type h2{
    color: black;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}
.matchingTest{
    background-color: white;
    font-size: 2rem;
    border-radius: 30px;
    padding: 2rem 0rem;
    margin: 0 10% 0 10%;
    text-align: center;
    border-left: 5px solid blueviolet;
}

.choices{
    background-color: white;
    padding: 2ch;
    border-radius: 12px;
    text-align: center;
    margin: 0 10% 20px 10%;
}

.button{
    background-color: #06f8e3;
    color: white;
    border-radius: 10px;
    display:block;
    margin: 10px 35% 10px 35%;
    text-align: center;
    padding: 1rem;
}
.button:hover{
    background-color: rgb(37, 250, 4);
}

.instructions{
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: 0 10% 20px 10%;
    border-radius: 10px;
    border-top: 5px solid blueviolet;
}

#id-form{
    background-color: white;
    border-radius: 30px;
    padding: 2rem 5rem;
    margin: 0 10% 0 10%;
    text-align: left;
    border-left: 5px solid blueviolet;
}

#matchingTypeDiv{
    background-color: white;
    border-radius: 30px;
    padding: 2rem 5rem;
    margin: 0 10% 0 10%;
    text-align: left;
    border-left: 5px solid blueviolet;
}

#multiple-choice{
    background-color: white;
    border-radius: 30px;
    padding: 2rem 5rem;
    margin: 0 10% 0 10%;
    text-align: left;
    border-left: 5px solid blueviolet;
    margin-top: 60px;
}

#subBanner h1{
    color: black;
    font-size: 3rem;
    margin-bottom: 30px;
}

#subBanner p{
    font-size: 1rem;
}

#score p{
    text-align: center;
    background-color: white;
    margin: 20px 10% 20px 10%;
    padding: 3rem;
    border-radius: 20px;
    border-top: 5px solid blueviolet;
    font-size: 2rem;
}

/* Fill in the blanks section author: Julliard */
#Fill-in-the-blank{
    zoom: 80%;
}

.fill-in-the-blanks p{
    margin-bottom: 25px;
}

.question-number{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 25px;
}

.p-fill-question{
    display: inline-block;
    margin-left: 5px;
}

.input-box{
    padding:10px;
}

.input-box:hover{
    padding:11px;
}

.answer-span{
    position: absolute;
    color:rgba(0,0,0,.65);
    left: 310px;
    transition: .5s;
}

.input-box:valid ~ .answer-span,
.input-box:focus ~ .answer-span{
    color: black;
    transform: translateX(5px) translateY(-8px);
    font-size: .80em;
    background: lightgrey;
}

/* MEDIA QUERIES */

/* for mobile version */
@media only screen and (max-width: 500px) {
:root{
    background-color:rgb(255,179,230);
}

#AdminBTN{
    background-color: rgb(179,179,255);
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 10px;
    border: none;

}

#AdminBTN:hover{
    cursor: pointer;
    background-color: rgb(191,255,179);
}

.btn{
    background-color: rgb(179,179,255);
    margin: 0;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 10px;
    border: none;

}

.btn:hover{
    cursor: pointer;
    background-color: rgb(191,255,179);
}

.container{
    background-size: 80%;
    zoom: 80%;
    background-size: 100%;
}

#next{
    background-color: rgb(179,179,255);
    width: 50%;
    margin-left: 50px;
}

#next:hover{
    cursor: pointer;
    background-color: rgb(191,255,179);
}

#prev{
    background-color: rgb(179,179,255);
    width: 50%;
    margin-left: 50px;
}

#prev:hover{
    cursor: pointer;
    background-color: rgb(191,255,179);
}

#multiple-choice{
    margin-top: 60px;
}


}
